{# v0.1 #}
{# For an optimal expierence, use the Jinja Markdown or Jinja Raw Language Mode in VSC your your favorite editor #}
# Resume for {{ candidates_name }}

* [Professional Experience](https://github.com/{{candidates_github_username}}/{{candidates_github_personal_repo}}/blob/{{personal_repo_branch}}/resume.md#professional-experience)

{% for entry in professional_experience %}
    1. [__{{ entry.title }}__ {{ entry.start_date }} - {{ entry.end_date | default("Present") }}](https://github.com/{{candidates_github_username}}/{{candidates_github_personal_repo}}/blob/{{personal_repo_branch}}/resume.md#{{ entry.title | replace(" ", "-") | replace(",", "") }}--{{ entry.org | replace(" ", "-") | replace(",", "") }})

{% endfor %}
* [Skillset](https://github.com/{{candidates_github_username}}/{{candidates_github_personal_repo}}/blob/{{personal_repo_branch}}/resume.md#skillset)

* [Continuing Education](https://github.com/{{candidates_github_username}}/{{candidates_github_personal_repo}}/blob/{{personal_repo_branch}}/resume.md#continuing-education)

* [References](https://github.com/{{candidates_github_username}}/{{candidates_github_personal_repo}}/blob/{{personal_repo_branch}}/resume.md#references)


## Professional Experience
---
{% for entry in professional_experience %}
##### {{ entry.start_date }} - {{ entry.end_date | default("Present") }}
**{{ entry.company }}**
### __{{ entry.title }}__ – _*{{ entry.org }}*_

  > {{ entry.title_summary }}
  
  {% for role in entry.title_roles %}
 * {{ role }}
  {% endfor %}

{% endfor %}


## Skillset
---
{% for skill in skillset %}
* {{ skill }}
{% endfor %}


## Continuing Education
---

| Course or Certification | Date Achieved |
| ----------------------- | ------------- |
{% for entry in continuing_edu %}
| {{ entry.des }} | {{entry.date}} | {{entry.location}} |
{% endfor %}

{% if first_run == true %}


## References
---
  - @gituser tag
  - [Egon Spengler](https://en.wikipedia.org/wiki/Egon_Spengler)
{% endif %}

{% if tell_somebody == true %}
###### Created with [ansible_literal_resume_generator](https://github.com/mr-stay-puft/ansible_literal_resume_generator)
{% else %}
{# Credit to Magnus on SO for this MD 'comment' trick - https://stackoverflow.com/a/20885980 #}
[//]: # (Created with ansible_literal_resume_generator - https://github.com/mr-stay-puft/ansible_literal_resume_generator )
{% endif %}